.icon {
    width: 30px;
    height: 30px;
    background-color: #6fb2e3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin: 0px 5px;
}

#footer > li {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0px 10px;
}

#footer > li:first-child {
    border-right: 2px solid white;
}

.main-footer {
    background-color: #1c355e;
    height: 50px;
}

@media only screen and (max-width: 991px) {
    .main-footer {
       height: 100px;
    } 
}

.footer-div {
    padding-top: 10px;
    text-align: center;
}