.logo {
    width: 50px;
    height: 50px;
    background-image: url("./images/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

.name {
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
    position: absolute;
    top: 20px;
    padding-left: 10px;
    font-weight: bold;
}

#navigation > li {
    text-decoration: none;
    display: inline-block;
    margin: 0px 30px;
    font-weight: bold;
}

select {
    border:none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
    font-weight: bold;
}

.desktop_menu {margin-top: 10px;}
.language_select_mobil {display: none;}

.language_select_desktop {
    padding-top: 10px;
}

@media only screen and (max-width: 991px) {

    .name {top: 20px;}
    #navigation > li {margin: 0px 10px}
    .language_select_mobil {display: block;}
    .language_select_desktop {display: none}
}