#color-bars {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-bottom: 25px;
}

#color-bars > div {
    width: 33%;
    height: 8px;
}

#search > .up {border-bottom: solid #f68d2e;}
#glosary > .up {border-bottom: solid #41b6e6;}
#compare > .up {border-bottom: solid #6cc24a;}

.up {
    height: 100px;
    padding-top: 15px;
}

.down {
    padding-top: 30px;
    height: 60;
    font-size: 1.5em;
}

#search > div, #glosary > div, #compare > div {
    display: flex;
    justify-content: center;
    color: gray;
    margin: 0px 25px;
}

a:link {
    text-decoration: none;
  }

.index_carousel {
    display: flex;
    justify-content: center;
}

#search > .down > div > span {color: #f68d2e;}
#glosary > .down > div > span {color: #41b6e6;}
#compare > .down > div > span {color: #6cc24a;}

.carousel_element {
    width: 300px;
}

.main_carousel {
    width: 50%;
}

@media only screen and (max-width: 991px) {
    
    #search > div, #glosary > div, #compare > div {
        margin: 0px 40px;
    }
}